* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4; 
  padding-top: 40px;
  background: url(../background.jpg) no-repeat center center fixed;
}

#toolbar {
  background: rgba(255, 255, 255, 0.6); 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  border-bottom: solid 1px #eee;
  display: none;
}

#toolbar div {
  width: 188px; 
  margin: 0px auto;
}

#toolbar p {
  font-weight: bold;
  color: #444;
  display: inline-block;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

#tab-slider {
  height: 5px;
  background: #444;
  position: absolute;
  bottom: -1px;
  
}

.bubble {
  background rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 2px 0 #888;
  height:11em;
  width: 11em;
  border-radius: 50%;
  margin: 100px auto;
  padding: 20px;
  position: relative;
  display: none;
  
}

.bubble h4 {
  text-align: center;
  margin: 0;
  color: #ddd;

}

.bubble>div>div {
  height: 60%;
  opacity: 0;
}

.bubble>img {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: solid 1px grey;
  z-index: 1;
}

.bubble>div {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 90000;
  position: absolute;
  padding: 20px;
background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(255, 255, 255, 0.0)), color-stop(100%,rgb(65, 65, 65))); /* Chrome,Safari4+ */
}

.bubble p {
  text-align: center;
  color: #ddd;

}

/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351 
 */
.circle-container {
	position: relative;
	width: 34em;
	height: 34em;
	padding: 16.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border-radius: 50%;
	margin: 8em auto 0;
}
.circle-container>div {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	margin: -6em; /* 2em = 4em/2 */ /* half the width */
}
.deg0 { transform: translate(17em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(17em) rotate(-45deg); }
.deg90 { transform: rotate(90deg) translate(17em) rotate(-90deg); }
.deg135 { transform: rotate(135deg) translate(17em) rotate(-135deg); }
.deg180 { transform: translate(-17em); }
.deg225 { transform: rotate(225deg) translate(17em) rotate(-225deg); }
.deg270 { transform: rotate(270deg) translate(17em) rotate(-270deg); }
.deg315 { transform: rotate(315deg) translate(17em) rotate(-315deg); }

.circle-container .center {
  margin-top: -45px;
  margin-left: -110px;
  width: 15em;
  text-align: center;
}

.circle-container .btn {
  margin-top: 5px;
}

.circle-container input {
  text-align: center;
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 15px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 4px;
  margin-left: 1px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* this is just for showing the angle on hover */
.circle-container>div:not(.center):before {
	position: absolute;
	color: white;
	opacity: 0;
	background: rgba(0,0,0,.5);
	font: 1.25em/3.45 Courier, monospace;
	letter-spacing: 2px;
	text-decoration: none;
	text-indent: -2em;
	text-shadow: 0 0 .1em deeppink;
	transition: .7s; /* only works in Firefox */
	content: attr(class)'°';
}
